p {text-indent:15px;}
p:first-letter {
color:forestgreen;
}
@media  screen and (min-width: 800px){
    .uncharted4{
    background-image:url(jungle.jpg);
    margin:0;
    }
    #global {
      margin-left: auto;
      margin-right: auto;
      width: 670px; 
      position:relative;  
	  font-family:Helvetica;	  
    }
    .game {
    float:left;
    margin-left:30px;
    width: 34%;
    }
    #descript{
    margin-right: 30px;
    margin-left:380px;
    font-size:18px;
    font-weight:bold;
    border-width:1px;
    border-style:outset;
    border-color:transparent;
    background-color:darkcyan;
    box-shadow:5px 5px 10px darkcyan;
    width:260px;
    }
    .myButton {
    background-color:#44c767;
    border-radius:19px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Helvetica;
    font-size:12px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    }
    .trailer{
    width:670px;
    height:385px;              
    }

    h2{
    text-align: center;
    }
    #resume{
    text-align:justify;
     margin-left:absolute;
    font-size:18px;
    font-weight:bold;
    border-width:1px;
    border-style:outset;
    border-color:#008020;
    background-color: WhiteSmoke;
    opacity: 0.5;
    box-shadow:5px 5px 10px ;
    width:602px;
    font-family: helvetica;
    padding: 5%;
    text-indent: 15px;
    }
    #background_transparent{
    position:absolute;
    width:100%;
    height:100%;
    background-color: WhiteSmoke;
    opacity: 0.5;
    z-index:-1;
    }
    h2{
    text-align: center;
    }
}
/*panier*/
#body{
font-family: Helvetica;    
}
 #globalPanier {
margin-left: auto;
margin-right: auto;
width: 670px; 
position:relative;
}
.panierPhoto{
width:12%;
}
table{   
border-collapse: collapse; 
table-layout: auto;
width:100;
height: 50%;
font-size: 150%;
background-color: darkcyan;
font-family: Helvetica, Arial;
overflow:auto; 
    }
td,th{
border: 1px solid black;
text-align: center;
}
.achatGame{
width: 35%;     
}
#ajouter{
background-color:#CDBE70;
width:35%;
margin: auto;
border-radius:28px;
border:1px solid ;
background-color: darkcyan;
text-align: center;
height:40px;
line-height: 40px;
}
#valider{
background-color:#CDBE70;
width:35%;
margin: auto;
border-radius:28px;
border:1px solid ;
background-color: darkcyan;
text-align: center;
height:40px;
line-height: 40px;
}
.plus{
width:16%;
margin-right: 2%;
cursor:pointer;
display:inline-block;
line-height: 40px;
float:right;
margin-top: 2%;	
}
input, select {
 background-color:rgba(201,228,231, 0.9);
}
label
{
display: block; 
width: 150px;
}
.panier{
 background-color:rgba(201,228,231,0.9);
 margin:0;
display:block;
}
.supprimer{
width:50%;
cursor:pointer;
display:inline-block;
}

.mgsV{
width:34%;
height:20%;
margin-left:33%;

}




@media  screen and (max-width: 800px){

    .uncharted4{
    background-image:url(jungle.jpg);
    margin:0;
    }
	.game {
        display: block;
    margin-left:26%;
    width: 44%
    }
	.myButton {
	background-color:#44c767;
	-moz-border-radius:28%;
	-webkit-border-radius:28%;
	border-radius:28%;
	border:1% solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:70%;
	padding:4% 4%;
	text-decoration:none;
	text-shadow:0% 1% 0% #2f6627;
	}
	.trailer{
	width:100%;
	height:100%;
	}
	#resume{
	text-align:justify;
	font-size:100%;
	font-weight:bold;
	border-width:1px;
	border-style:outset;
	border-color:#008020;
	background-color: WhiteSmoke;
	opacity: 0.5;
	box-shadow:5% 5% 10% ;
	width:auto;
	}
	h2{
	text-align: center;
    margin-top: 10%;
	}
    /*panier.html*/
    .ps4{
        display:none;
    }
    .mgsV{
        display:none;
    }
   
    

