body{
    font-family: serif;
	background-color: rgb(34,109,112);
	/*--background-image : url(image_fond.jpg);*/
    margin: 0;
}

.active {
    background-color: #338295;
}

.page{
    width            :  auto;
    max-width        :  800px;
	margin-top       :  0;
	margin-left      :  auto;
	margin-right     :  auto;
	margin-bottom    :  10px;
	padding-bottom   :  10px;
    padding-top: 80px;
	color: 				#404040;

	text-align       : justify;
	letter-spacing   : 0.02ex;
	line-height      :  1.5em;
}

.Secteur{
    background-color: rgba(201, 228, 231, 0.9);
    width        :auto;
	margin-left  : 30px;
    margin-right  : 30px;
    margin-top  : 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

Section{
    font-family: helvetica;
    font-size: 14px;
    margin: 2em;
    padding: 10px;
    border-top       : solid 1px rgb(34,109,112);
	border-left      : solid 1px rgb(34,109,112);
    border-bottom: solid 1px rgb(34,109,112);
    border-right: solid 1px rgb(34,109,112);
	box-shadow: 5px 5px 2px rgba(34,109,112,0.5);
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 12px;
}

h2 {
   text-align: center;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
}

article {
    font-family: ;
}

#Intro, #Real_html, #Real_banniere, #Real_Real_Acc, #Bilan {
    border-bottom : dotted;
}

.Secteur code {
    font-style: italic;
    color:dodgerblue;
}

p {
    padding:5px;
}






